[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:ssgaryss/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:ssgaryss/glm.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = git@github.com:ssgaryss/imgui.git
	branch = docking
